<form method="post">
    <div class="card">
        <h4 class="card-header">
            New Field
        </h4>
        <div class="card-body">
            <div class="form-group">
                <label for="txtFieldName">Field Name</label>
                <input name="fieldName" type="text" class="form-control" id="txtFieldName" autofocus placeholder="IT">
            </div>
        </div>
        <div class="card-footer text-muted">
            <a class="btn btn-outline-success" href="/fields" role="button">
                <i class="fa fa-backward" aria-hidden="true"></i>
                List
            </a>
            <button type="submit" class="btn btn-primary" formaction="/fields/add">
                <i class="fa fa-check" aria-hidden="true"></i>
                Save
            </button>
        </div>
    </div>
</form>