<form method="post">
  <div class="card">
    <h4 class="card-header">
      Edit Field
    </h4>
    <div class="card-body">
      <div class="form-group">
        <label for="txtFieldID">#</label>
        <input name="fieldID" type="text" class="form-control" id="txtFieldID" value="{{this.field.fieldID}}" readonly>
      </div>
      <div class="form-group">
        <label for="txtFieldName">Field Name</label>
        <input name="fieldName" type="text" class="form-control" id="txtFieldName" autofocus placeholder="Laptop" value="{{this.field.fieldName}}">
      </div>
    </div>
    <div class="card-footer text-muted">
      <a class="btn btn-outline-success" href="/admin/fields" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        List
      </a>
        <button type="submit" class="btn btn-danger" formaction="/admin/fields/hide">
            <i class="fa fa-eye-slash" aria-hidden="true"></i>
            Hide
        </button>
        <button type="submit" class="btn btn-danger" formaction="/admin/fields/unhide">
            <i class="fa fa-eye" aria-hidden="true"></i>
            Unhide
        </button>
      <button type="submit" class="btn btn-danger" formaction="/admin/fields/del">
        <i class="fa fa-trash" aria-hidden="true"></i>
        Delete
      </button>
      <button type="submit" class="btn btn-primary" formaction="/admin/fields/edit">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </div>
  </div>
</form>