<form method="post">
    <div class="card">
        <h4 class="card-header">
            Change password
        </h4>
        {{#if err_message}}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Change password failed!</strong> {{err_message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {{/if}}
        <div class="card-body">
            <div class="form-group">
                <input name="userID" type="text" class="form-control" id="txtUserID" value="{{this.user.userID}}" readonly hidden>
            </div>
            <div class="form-group">
                <label for="txtOldPassword">Old password</label>
                <input name="oldPassword" type="password" class="form-control" id="txtOldPassword" autofocus>
            </div>
            <div class="form-group">
                <label for="txtNewPassword">New password</label>
                <input name="newPassword" type="password" class="form-control" id="txtNewPassword">
            </div>
            <div class="form-group">
                <label for="txtConfirmPassword">Confirm new password</label>
                <input name="confirmPassword" type="password" class="form-control" id="txtConfirmPassword">
            </div>

        </div>
        <div class="card-footer text-muted">
            <button type="submit" class="btn btn-primary" formaction="/users/change-password">
                <i class="fa fa-check" aria-hidden="true"></i>
                Save
            </button>
        </div>
    </div>
</form>