<div class="card">
    <h4 class="card-header">
        Profile
    </h4>
    <div class="card-body">
        <p class="card-text">Email: {{authUser.email}}</p>
        <p class="card-text">Name: {{authUser.name}}</p>
        <p class="card-text">Role: {{authUser.role}}</p>
    </div>
    <div class="card-footer text-muted">
        Learn more and more
    </div>
</div>