<div class="card">
    <h4 class="card-header">
        Profile
    </h4>
    <div class="card-body">
        <p class="card-text">Email: {{user.email}}</p>
        <p class="card-text">Name: {{user.name}}</p>
        <p class="card-text">Role: {{user.role}}</p>
        <p class="card-text">Introduction: {{user.introduction}}</p>
    </div>
    <div class="card-footer text-muted">
        Learn more and more
    </div>
</div>