<div
  class="contents order-2 order-md-1"
  style="margin-top:50px;
  margin-bottom:200px"
>
  <div class="container">
    <div>
      <div class="card">
        <h4 class="card-header">
          Add lecture
        </h4>
        <form
          action="/teacher/addLect"
          method="post"
          class="mt-3"
          style="margin-top: 2em;
          margin-left: 1em; margin-right: 1em;"
          enctype="multipart/form-data"
        >
          <div class="form-group">
            <label for="lecName">Article</label>
            <input
              name="lecName"
              type="text"
              class="form-control"
              id="lecName"
              placeholder="e.g. First Lesson"
              required
            />
          </div>
          <div class="form-group">
            <label for="order">Lecture order</label>
            <input
              name="order"
              type="text"
              class="form-control"
              id="order"
              placeholder="e.g. 1,2,3,..."
              required
            />
          </div>
          <div class="form-group">
            <label for="lecID">Lecture ID</label>
            <input
              name="lecID"
              type="text"
              class="form-control"
              id="lecID"
              placeholder="e.g. 1,2,3,..."
              required
            />
          </div>
          <div class="form-group">
            <label for="courseID">Course ID</label>
            <input
              name="courseID"
              class="form-control"
              type="text"
              placeholder="{{this.courses.courseID}}"
              value="{{this.courses.courseID}}"
              readonly
            />
          </div>
          <div class="form-group">
            <label for="videoURL">Video</label>
            <input
              name="videoURL"
              type="text"
              class="form-control"
              id="videoURL"
              placeholder="Video url here (Google Drive, Youtube,...)"
              required
            />
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" required> </textarea>
          </div>

          <div class="form-group">
            <label for="editAva">Other file uptoad (Pdf, Word, Rar...)</label>
            <form action="/action_page.php">
              <input type="file" />
            </form>
          </div>

          <div class="card-footer text-muted">
            <div>
              <button type="submit" class="btn btn-primary">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                Add Lecture
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>