<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>TinyMCE WYSIWYG Bootstrap</title>
        
        <!-- TinyMCE CDN -->
        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        
    </head>
<body>
  <div>
    <div class="card">
    <h4 class="card-header">
        Edit course
    </h4>
    {{#if this.empty}}
        <div class="card-body">
            No data!
        </div>
    {{else}}
        <form style="margin-top: 2em; margin-left: 1em; margin-right: 1em;">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Course Name</label>
      <input type="email" class="form-control" id="inputCourseName" placeholder="Course name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputAddress2">Lecturer Name</label>
    <input type="text" class="form-control" id="inputLN" placeholder="Lecturer name">
    </div>
  </div>
  <div class="form-group">
      <label for="inputAddress2">Image</label>
    <input type="text" class="form-control" id="inputIMG" placeholder="img url here">
    </div>
  <div class="form-group">
    <label for="inputAddress2">Description</label>
  <div id="editor">
  <p><br></p>
  <p><br></p>
  <p><br></p>
  </div>
  </div>
  <!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<!-- Initialize Quill editor -->
<script>
  var quill = new Quill('#editor', {
    theme: 'snow'
  });
</script>
  <div class="form-group">
    <label for="inputAddress2">Short Description</label>
    <textarea type="text" class="form-control" id="inputShortDes" placeholder=""></textarea>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputCity">Price per Student</label>
      <input type="text" class="form-control" id="inputPrice" placeholder="vnd">
    </div>
    <div class="form-group col-md-2">
      <label for="inputCity">Discount</label>
      <input type="text" class="form-control" id="inputPrice" placeholder="">
    </div>
    <div class="form-group col-md-1">
      <label for="inputCity">Max student(s)</label>
      <input type="text" class="form-control" id="inputPrice" placeholder="">
    </div>
    <div class="form-group col-md-3">
      <label for="inputState">Field</label>
      <select id="inputField" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-3 ">
      <label for="inputState">Category</label>
      <select id="inputCat" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <div class="form-group">
  <button type="submit" class="btn btn-primary">Finnish Editing</button>
  </div>
</form>
    {{/if}}

<!--
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
                <span class="page-link">2</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
    -->
    <div class="card-footer text-muted">
        foooooooooooooooooooter
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js" integrity="sha512-BmM0/BQlqh02wuK5Gz9yrbe7VyIVwOzD1o40yi1IsTjriX/NGF37NyXHfmFzIlMmoSIBXgqDiG1VNU6kB5dBbA==" crossorigin="anonymous"></script>
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>