<form method="post">
  <div class="card">
    <h4 class="card-header">
      Edit Category
    </h4>
    <div class="card-body">
      <div class="form-group">
        <label for="txtCatID">#</label>
        <input name="catID" type="text" class="form-control" id="txtCatID" value="{{this.category.catID}}" readonly>
      </div>
      <div class="form-group">
        <label for="txtCatName">Category Name</label>
        <input name="catName" type="text" class="form-control" id="txtCatName" autofocus placeholder="Hardware" value="{{this.category.catName}}">
      </div>
    </div>
    <div class="card-footer text-muted">
      <a class="btn btn-outline-success" href="/admin/categories/view/{{this.category.fieldID}}" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        List
      </a>
        <button type="submit" class="btn btn-danger" formaction="/admin/categories/hide">
            <i class="fa fa-eye-slash" aria-hidden="true"></i>
            Hide
        </button>
        <button type="submit" class="btn btn-danger" formaction="/admin/categories/unhide">
            <i class="fa fa-eye" aria-hidden="true"></i>
            Unhide
        </button>
      <button type="submit" class="btn btn-danger" formaction="/admin/categories/del">
        <i class="fa fa-trash" aria-hidden="true"></i>
        Delete
      </button>
      <button type="submit" class="btn btn-primary" formaction="/admin/categories/edit">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </div>
  </div>
</form>